<h1>Midwest Access Coalition Volunteer Management Portal</h1>
<p>Midwest Access Coalition (MAC) board members, interns, and volunteers need to be able to log into a management portal where they can see volunteer schedules for drivers and hosts and directions to clinics.</p>
<p>The landing page for this app should be a sign-in page. It will be linked to from MAC's site at <a href="www.midwestaccesscoalition.org">www.midwestaccesscoalition.org</a>.</p>
<p>Template for Home#index in app/views/home/index.html.erb</p>
