<div id="container">
  <div class="row" style="text-align:center">
  	<% if current_user.volunteer %>
	    <%= link_to(volunteer_path(current_user.volunteer), class: "btn btn-info") do %>
	      View Account
	    <% end %>
	    <%= link_to edit_volunteer_path(current_user.volunteer), class: "btn btn-primary" do %>
	      Edit Account
	    <% end %>
	  <% end %>
  </div>
</div>
