.container
  %h1
    Learn more about MAC and how you can get involved!
  %ul
    %li
      Next volunteer training
    %li
      Read more at our site
    %li
      Show us some love on social media
    %li
      Come to our next event
