%div
  <!-- %h2.col-md-8.col-md-offset-5 -->
  <!-- = Date.today.strftime("%B %Y") -->

  - flash.each do |name, msg|
    = content_tag :div, msg, class: name

  %table#calendar.col-md-s8.col-md-offset-1
    %caption
      %h2.col-md-8.col-md-offset-5
        = Date.today.strftime("%B %Y")
    %tr
      %th Sunday
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
    %tr
      - (@beginning_of_month..@end_of_month).each do |d|
        - if d == @beginning_of_month
          - d.wday.times do
            %td.offset

        - if d.wday == 0
          %tr
        %td 
          = render partial: 'modal', :locals => {d: d, call_times: @call_times, beginning_of_month: @beginning_of_month, end_of_month: @end_of_month }
          - @date = Date.parse(d.year.to_s+ "-" + d.month.to_s + "-" + d.day.to_s)
          - o = @call_times.find_all { |c| (c.start_time..c.end_time).cover? @date }
          - o.each do |event|
            %p
              = event.user.first_name + " " + event.user.last_name[0] + "."
