@import "colors";

$navbar-default-bg: $chartreuse;
$navbar-height: 150px;
$default-padding: 15px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";
@import "on_call_times";
@import "bootstrap/theme";
@import "dashboard";
