body { 
	padding-top: 7em; 
}

a { 
	color: $purple;
}

.btn.btn-primary {
	background: $purple;
	color: $off-white;
	border: $chartreuse;
	&:hover {
		background: $light-coral;
	}
}

.btn.btn-info {
	background: $purple;
	color: $off-white;
	border: $chartreuse;
	a {
		color: $off-white;
	}
	&:hover {
		background: $light-coral;
	}
}

#logo-link {
  margin-top: -50px;
}
