// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#log-in {
  margin-top: 100px;
  text-align: center;
}

div#login-logout-top {
  text-align: right;
  top: 0px;
  position: absolute;
  height: 110px;
  background-color: $chartreuse;
  width: 100%;
  padding: 5px;

  #title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    h1 {
      display: inline;
    }
  }

  .btn.btn-primary.btn-inverted {
    background-color: $light-grey;
    color: $purple;
    border: $purple;
    margin-top: 30px;
  }
}

div.page {
	margin: 20px;
}

div.container {
  margin-top: 100px;
}
